[submodule "message_service"]
	path = message_service
	url = git@github.com:KTH-UrbanT/spara-server.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:KTH-UrbanT/spara-client.git
[submodule "llm_service"]
	path = llm_service
	url = git@github.com:KTH-UrbanT/spara-backend.git
